{% extends "base.html" %}
{% load static %}
{% block name_web %}
    <p>Авторизация</p>
{% endblock %}
{% block made %}
    <form>
        <div class="input-box">
            <input type="text" placeholder="Фамилия Имя Отчество" required>
            <i class='bx bxs-user'></i>
        </div>
        <div class="input-box">
            <input type="password" placeholder="Пароль" required>
            <i class='bx bxs-lock-alt'></i>
        </div>  
        <button class="btn">Вход</button>
        <div class="reg-link">
            <p>У вас нет аккаунта? <a href="{% url 'main:reg' %}">Зарегистрируйтесь</a></p>
        </div>
    </form>
{% endblock  %}
