{% extends "base.html" %}
{% load static %}
{% block name_web %}
    <p>Клиент</p>
    <button type="button" class="btn btn-outline-primary">Добавить клиента</button>
{% endblock  %}
{% block made %}
    <div class="users">
        <table>
            <thead>
                <tr>
                    <th>№счета:</th>
                    <th>777</th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th>Фамилия:</th>
                    <th>Белова</th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th>Имя:</th>
                    <th>Тарика</th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th>Отчество:</th>
                    <th>Викторовна</th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th>Дата рождения:</th>
                    <th>06.10.2001</th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th>ИНН:</th>
                    <th>568123789542</th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th>ФИО ответсвенного:</th>
                    <th>Белов Николай Ильич</th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th>Статус:</th>
                    <th>В работе</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="table">
        <button type="button" class="btn btn-outline-primary">Предыдущий</button>
        <button type="button" class="btn btn-outline-primary">Следующий</button>
    </div>
{% endblock %}